name: Build PyEDA

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build Python ${{ matrix.python-version }} wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install cibuildwheel
        run: python -m pip install -U pip setuptools wheel

      - name: Build wheels
        run: python setup.py bdist_wheel --dist-dir wheelhouse
        shell: bash

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl

      - name: Test import from PyEDA
        run: |
          python -m pip install wheelhouse/*.whl
          python -I -c "from pyeda.inter import And"
        shell: bash